<ion-header>
  <ion-toolbar>
    <ion-title>buttons5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <link href='https://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    
    
    <h1>Social Buttons!</h1>
    <ul class="cont">
    <li class="one-button">
      <i class="fa fa-twitter fa-2x"></i>
    </li>
    <li class="one-button">
      <i class="fa fa-facebook fa-2x"></i>
    </li>
    <li class="one-button">
      <i class="fa fa-linkedin fa-2x"></i>
    </li>
      <li class="one-button">
      <i class="fa fa-youtube fa-2x"></i>
    </li>
    <li class="one-button">
      <i class="fa fa-github fa-2x"></i>
    </li>
    <li class="one-button">
      <i class="fa fa-instagram fa-2x"></i>
    </li>
      <li class="one-button">
      <i class="fa fa-foursquare fa-2x"></i>
    </li>
    </ul>
</ion-content>
