page-spinner1 {
    p {
        text-align: center;
        margin-bottom: 40px !important;
    }
    .spinner svg {
		width: 100% !important;
        height: 85px !important;
	}

	ion-spinner * {
		width: 28px;
		height: 28px;
		stroke: #444;
		fill: #222;
	  }
}
