<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Loading: 1</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1>Loading... <a href="https://codepen.io/MaxStalker/pen/AktfK">Source</a></h1>
    <div id="vignette"></div>
    <div id="container">
        <div id="pos">
            <div class="cube">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
                <div class="bottom"></div>
                <div class="shadow"></div>
            </div>
            <div class="cube">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
                <div class="bottom"></div>
                <div class="shadow"></div>
            </div>
            <div class="cube">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
                <div class="bottom"></div>
                <div class="shadow"></div>
            </div>
            <div class="cube">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
                <div class="bottom"></div>
                <div class="shadow"></div>
            </div>
            <div class="cube">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
                <div class="bottom"></div>
                <div class="shadow"></div>
            </div>
            <div class="cube">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
                <div class="bottom"></div>
                <div class="shadow"></div>
            </div>
            <div class="cube">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
                <div class="bottom"></div>
                <div class="shadow"></div>
            </div>
            <div class="cube">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
                <div class="bottom"></div>
                <div class="shadow"></div>
            </div>
        </div>
    </div>

</ion-content>