<ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Buttons: 2</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <ion-content padding>
        <div class="buttons-container">
            <ul>
                <li class="active"><a class="active-text"><i class="fa fa-codepen" aria-hidden="true"></i></a></li>
                <li><a><i class="fa fa-coffee" aria-hidden="true"></i></a></li>
                <li><a><i class="fa fa-rocket" aria-hidden="true"></i></a></li>
                <li><a><i class="fa fa-user-circle" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </ion-content>